body {
    background-image: url("../images/mic.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   }

h1 {
    color: white;
    font-weight: bold;
}

p{
    color:red;
}

h3{
    color:red;
}

li{
    color:red;
}

h2{
    color: white;
    font-weight: bold;
}